[{postgrex,[{type_server_reap_after,180000},{json_library,'Elixir.Jason'}]},
 {artificery,[]},
 {phoenix,
     [{format_encoders,[]},
      {gzippable_exts,
          [<<".js">>,<<".css">>,<<".txt">>,<<".text">>,<<".html">>,
           <<".json">>,<<".svg">>,<<".eot">>,<<".ttf">>]},
      {stacktrace_depth,nil},
      {json_library,'Elixir.Jason'},
      {serve_endpoints,false},
      {filter_parameters,[<<"password">>]},
      {template_engines,[]}]},
 {connection,[]},
 {cowlib,[]},
 {ssl,[]},
 {comeonin,[]},
 {telemetry,[]},
 {jason,[]},
 {eex,[]},
 {phoenix_html,[]},
 {ecto,[]},
 {logger,
     [{console,
          [{format,<<"$time $metadata[$level] $message\n">>},
           {metadata,[request_id]}]},
      {compile_time_purge_matching,[]},
      {discard_threshold_for_error_logger,500},
      {utc_log,false},
      {compile_time_application,nil},
      {handle_sasl_reports,false},
      {level,info},
      {translator_inspect_opts,[]},
      {truncate,8096},
      {sync_threshold,20},
      {handle_otp_reports,true},
      {compile_time_purge_level,debug},
      {translators,[{'Elixir.Logger.Translator',translate}]},
      {backends,[console]},
      {discard_threshold,500}]},
 {iex,
     [{history_size,20},
      {alive_prompt,<<"%prefix(%node)%counter>">>},
      {default_prompt,<<"%prefix(%counter)>">>},
      {inspect,[{pretty,true}]},
      {colors,[]}]},
 {stdlib,[]},
 {db_connection,[]},
 {plug_crypto,[]},
 {phoenix_pubsub,[]},
 {mime,[{types,#{}}]},
 {gettext,[{default_locale,<<"en">>}]},
 {argon2_elixir,[]},
 {distillery,[{config_providers,[]}]},
 {compiler,[]},
 {phoenix_ecto,[{exclude_ecto_exceptions_from_plug,[]}]},
 {mix,[{colors,[]}]},
 {ecto_sql,[{postgres_map_type,<<"jsonb">>}]},
 {cowboy,[]},
 {ranch,[]},
 {plug_cowboy,[]},
 {elixir,[{ansi_enabled,false}]},
 {kernel,
     [{logger,
          [{handler,default,logger_std_h,
               #{config => #{type => standard_io},
                 formatter =>
                     {logger_formatter,
                         #{legacy_header => true,single_line => false}}}}]},
      {logger_sasl_compatible,false},
      {logger_level,notice}]},
 {crypto,[{rand_cache_size,896},{fips_mode,false}]},
 {plug,[{validate_header_keys_during_test,true}]},
 {asn1,[]},
 {decimal,[]},
 {todos,
     [{'Elixir.TodosWeb.Endpoint',
          [{render_errors,
               [{view,'Elixir.TodosWeb.ErrorView'},
                {accepts,[<<"html">>,<<"json">>]}]},
           {pubsub,
               [{name,'Elixir.Todos.PubSub'},
                {adapter,'Elixir.Phoenix.PubSub.PG2'}]},
           {server,true},
           {root,<<".">>},
           {version,"0.1.0"},
           {http,[inet6,{port,nil}]},
           {url,[{host,<<"localhost">>},{port,nil}]},
           {cache_static_manifest,<<"priv/static/cache_manifest.json">>},
           {secret_key_base,
               <<"1pdaPEqNCeSUn5mhuYMNd9uCAb1TTuZ+NPqCszDmiQiKW2qfCNkWKjpuheb1aRjb">>}]},
      {'Elixir.Todos.Repo',
          [{username,<<"postgres">>},
           {password,<<"postgres">>},
           {database,<<"todos_prod">>},
           {hostname,<<"localhost">>},
           {pool_size,15}]},
      {ecto_repos,['Elixir.Todos.Repo']}]},
 {runtime_tools,[]},
 {sasl,[{sasl_error_logger,false},{errlog_type,error}]},
 {public_key,[]}].
